@model PizzaStore.Interface.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order item in ViewBag.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Order", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
